


<style>
    body {
      background-image: url("/images/mountain.png");
      background-size: cover;
    }
</style>

<div class="auth-page">

<div>
    <br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br>
    <p class="col-sm-6">Because You Become Your Habits</p>
    <p class="col-sm-6">1 - Choose an  habit</p>
    <p class="col-sm-6">2 - Start Tracking</p>
    <p class="col-sm-6">3 - Choose your Sponsor (optional)</p>
</div>

<div>
    <a href="/signup"><button id="auth-button">Create your account</button></a>
</div>

<div>
    <a href="auth/login"><button id="auth-button">Login</button></a>
</div>

</div>


