

{{!-- description, AP, frequency, roll  --}}

  <h2>Habits Dashboard</h2>
  
  <div id="habit-list">
  {{!-- {{#each allHabits}}
    <div class=habitSummary">
       <div><h2>"{{this.description}}"</h2></div> 
       <div><h4>"{{this.ap}}"</h4></div>
       <div><h4>"{{this.cueDay}}"</h4></div>  
       <div><h4>"{{this.lastPunch}}"</h4></div>  
    </div>
  {{/each}} --}}
  </div>
