body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: orange;
}

.auth-page {
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-end;
  align-items: center;
  color: orange;
  background-image: url(/public/images/mountain.png);
}

#auth-button {
  color: orange;
  color: whitesmoke;
  font-size: smaller;
  background-color: orange;
  border-radius: 10px;
  border-color: none;
  width: 150px;
  text-align: center;
}

.punched {
  color: orange;
  font-weight: bolder;
}

.missed {
  color: red;
  font-weight: bolder;
}

.calendar,
.cal-el {
  margin-left: auto;
  margin-right: auto;
}
